[Unit]
Description=Pixie Daemon
After=

[Service]
Type=simple
Restart=on-failure
RestartSec=10
ExecStart=/usr/local/bin/pixied

[Install]
WantedBy=multi-user.target
