[Unit]
Description=Pixie Daemon
After=

[Service]
Type=forking
Restart=on-failure
RestartSec=10
ExecStart=/usr/local/bin/pixie --daemon

[Install]
WantedBy=multi-user.target
